@page "/user/create"
@using BankUI.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Create User</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<form>
    <div class="form-group">
        <label for="name">First name:</label>
        <input id="name" class="form-control" @bind="@user.Name" required />
    </div>
    <div class="form-group">
        <label for="name">Last name:</label>
        <input id="name" class="form-control" @bind="@user.Email" required />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@code {

    private UserDto user = new UserDto();

    private string? errorMessage;

    private async Task HandleValidSubmit()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/users", user);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/users");
            }
            else
            {
                errorMessage = $"Error creating user: {response.ReasonPhrase}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
